@font-face {
  font-family: nhl;
  src: url('../NHL.woff');
}

body {
	background-color: #ececec;
	font-family: Sintony;
	margin: 0;
}

#snapshot-header {
	background-color: #d2d2d2;
	font-family: nhl;
	font-size: 25;
	letter-spacing: 5;
	padding-left: 20;
}

#snapshot-footer {
	background-color: #d2d2d2;
	font-size: 12;
	padding-left: 20;
	position:fixed;
	left:0px;
	bottom:0px;
	height:20px;
	width:100%;
}

#snapshot-page {
	background-color: #ffffff;
	margin: 20;
	padding-top: 15;
	padding-left: 15;
	padding-right: 15;
	padding-bottom: 15;
	height: auto;
}

#snapshot-page-title {
	margin: 0;
}

#snapshot-page-content {
	padding-top: 15;
}

img.content-loading {
    margin: 20;
    width: 75px;
    height: 75px;

    animation-name: content-loading;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes content-loading {
	from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}